.leftMenuContainer {
  width: 400px;
  height: 100vh;
  background: var(--box-background);
  border-right: 1px double var(--gray-line);

  padding: 100px 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftMenuContainer form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--gray-line);
}

.leftMenuContainer form label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px;
}

.leftMenuContainer form input {
  margin-bottom: 30px;
  outline: none;
  padding: 5px 12px;
  line-height: 20px;

  background: var(--background);
  color: var(--text);

  border: 0.5px double var(--gray-line);
  border-radius: 6px;
}

.leftMenuContainer input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--text);
  border-radius: 6px;
  cursor: pointer;
}

.leftMenuContainer form button {
  margin-top: 20px;
  outline: none;
  padding: 8px 12px;
  line-height: 20px;

  font-size: 16;
  font-weight: 600;

  background: var(--green-button);
  color: var(--text);

  border: 0.5px double rgb(170, 245, 170);
  border-radius: 6px;

  transition: 0.5s;
}

.leftMenuContainer form button:hover {
  filter: brightness(1.2);
}

.leftMenuContainer img {
  height: 30%;
  margin-top: 20%;
}
